/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/*CLASSES GENERALES*/

body{
    max-width: 1440px;
    margin: auto;
}

section{
    width: 90%;
    display: flex;
    margin: 24px auto;
}

.etoilePleine{
    color: #0065FC;
}

.etoileVide{
    color: #F2F2F2;
}

.carteLinkPopulaire{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
}

.carteLinkActivites{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column-reverse;
}

.carteLinkPopulaire:hover{
    color: #0065FC;
    transition-duration: 1s;
}

.carteLinkActivites:hover{
    color: #0065FC;
    transition-duration: 1s;
}

/*HEADER*/

.header{
    height: 75px;
    width: 90%;    
    margin: 0px auto 16px auto;
    display: flex;
    justify-content: space-between;
}

.header img{
    height: 50px;
    align-self: self-end;
}

nav{
    width: 30%;
}

.headerUnorderList{
    list-style: none;
    display: flex;
    width: 100%;
}

.headerUnorderListItem{
    width: 50%;
    text-align: center;
}

.headerLink{
    text-decoration: none;
    color: black;
    padding-top: 32px;
    width: 100%;
    display: block;
    border-top: 3px solid transparent;
}

.headerLink:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;  
}

/*MAIN*/

/*Recherche*/ 

.recherche{
    flex-direction: column;
    margin: 0 auto;
}

.rechercheHeaderTitre{
    font-size: 20px;
    margin: 16px 0px;
}

form{
    margin: 16px 0;
    display: flex;
}

.markerWrap{
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 16px 0 0 16px;
}

.barreDeRecherche{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 16px 20px;
    width: 224px;
}

.barreDeRecherche::placeholder{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.bouton{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 16px 16px 0;
    padding: 16px 20px;
    font-size: 16px;
    cursor: pointer;
}

.bouton i{
    display: none;
}

.rechercheFiltres{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 16px 0;
}

.rechercheFiltresTitre{
    margin : 0px 32px 8px 0px;
    align-self: center;
}

.rechercheFiltresFiltre{
    border: 3px solid #F2F2F2;
    margin : 0px 24px 8px 0px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.rechercheFiltresFiltre:hover{
   background-color: #DEEBFF;
   color: #0065FC;
   transition-duration: 1s;
   cursor: pointer;
   border: 3px solid #DEEBFF;
}

.filtreIconeContainer{
    background-color: #DEEBFF;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: -3px;  
}

.filtreIcone{
    color: #0065FC;
    width: 16px;
    height: 16px;
    text-align: center;
}

.rechercheFiltresFiltreTexte{
    font-weight: bold;
    margin: 0 16px;
}

.rechercheResultats{
    display: flex;
    align-content: center;
    align-items: center;
}

.searchResultWrapicon{
    height: 32px;
    width: 32px;
    border: solid 3px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    color: #0065FC;
}

/*HEBERGEMENTS*/

.hebergements{
    justify-content:space-between;
}

.hebergementsTitre{
    width: 100%;
    align-self: center;
    min-width: 260px;
}

.hebergementsPartiePopulaireTitreIcone{
    float: right;
}

.hebergementsPartiePrincipale{
    width: 65%;
    justify-content: space-between;
}

.hebergementsSousPartie{
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.hebergementsPartiePopulaire{
    width: 32%;
    background-color:#F2F2F2;
}

.hebergementsPartiePrincipaleCarte{
    height: 30%;
    width: 30%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px #d5d3d3;
    border-radius: 20px;
}

.hebergementsPartiePrincipaleCarteLink{
    height: 100%;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.hebergementsPartiePrincipaleCarteLink:hover{
    color: #0065FC;
    transition-duration: 1s;
}

.hebergementsPartiePrincipaleCarteImage{
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hebergementsPartiePrincipaleCarteDescriptif{
    height: 45%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-left: 3%;
}

.hebergementsPartiePrincipaleCarteNotation{
    display: flex;
}

/*Les plus populaires*/

.hebergementsPartiePopulaire{
    justify-content: space-around;
}   

.hebergementsPartiePopulaireCarte{
    width: 100%;
    background-color: #fff;
    height: 22%;
    border-radius: 20px;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0px 0px 10px 1px #d5d3d3;
}

.hebergementsPartiePopulaireCarteImage{
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.hebergementsPartiePopulaireCarteDescriptif{
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1% 0% 1% 5%;
}

.hebergementsPartiePopulaireCarteNotation{
    display: flex;
    height: 50%;
    align-items: self-end;
}

/*ACTIVITES*/

#activites{
    margin: 24px auto;
    flex-direction: column;
}

.activitesTitre{
    width: 100%;
    padding: 24px 0px;
}

.activitesCartesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.activitesCartesContainerSousPartie{
    width: 48.5%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.carteLargeWrapper{   
    display: flex;
    width: 47.5%;
}

.cartePetitesEtMoyennesWrapper{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activitesCarteLarge{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    color: black;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 5px #F2F2F2;
    overflow: hidden;
}

.activitesCarteMoyenne{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    color: black;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 5px #F2F2F2;
    overflow: hidden;
}

.activitesCartePetite{
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    color: black;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    overflow: hidden;
}

.activitesCarteImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activitesCarteHeader{
    height: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 4%;
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
}

/*FOOTER*/

.footer{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    margin-top: 48px;
    padding: 32px 0px;
    box-sizing: border-box;
}

.footer_sous_partie{
    height: 100%;
    display: flex;
}

.footerSousPartieListe{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
}

.footer li{
    padding: 10px 0px;
}

/*Pour tous les appareils équipés d'écrans et dont la taille est inférieure à 992px*/
@media screen and (max-width: 992px){

    section{
        width: 95%;
     }
  
    .header{
        flex-flow: column;
        width: 100%;
        height: unset;
    }
    
    nav{
        place-self: unset;
        width: 100%;
    }

    .header img{
        place-self: center;
    }

    .headerUnorderList{
        width: 100%;
    }

    .headerLink {
        padding-bottom: 8px;
        border-bottom: 2px solid #F2F2F2;;
        border-top: unset;
    }

    .headerLink:hover{
        border-bottom: 2px solid #0065FC;
        border-top: unset;
    }

    .hebergements{
        flex-flow : column;
        width: 100%;
    }

    .hebergementsPartiePrincipaleTitre{
        padding: 16px 0;
    }

    .hebergementsPartiePrincipale{
        width: 100%;
        height: 750px;
        border-radius: unset;
    }

    .hebergementsPartiePopulaire{
        width: 100%;
        height: 750px;
        margin: 32px auto;
        border-radius: unset;
    }

    #activites{
        width: 100%;
        padding: 22px;
        box-sizing: border-box;
    }

    .activitesCartesContainer{
        height: unset;
        flex-direction: row;
        justify-content: space-between;
    }

    .activitesCartesContainerSousPartie{
        flex-direction: column;
        height: unset;
        justify-content: start;
        width: 48%;
    }

    .carteLargeWrapper{
        width: 100%;
    }

    .cartePetitesEtMoyennesWrapper{
        width: 100%;
    }

    .activitesCarteLarge{
        height: 240px;
        margin: 20px 0px;
    }

    .activitesCarteMoyenne{
        height: 240px;
        margin: 20px 0px;
    }

    .activitesCartePetite{
        height: 240px;
        margin: 20px 0px;
    }
  
    .footerSousPartieListe{
        padding: 22px;
    }
}

/*Pour tous les appareils dont la taille d'écran est inférieure à 768px*/
@media screen and (max-width: 768px){
    body{
        display: inline-block; /*Evite la déformation lors du passage en dessous des 160px de device-width*/
    }

    .barreDeRecherche{
        width: 90%;
    }

    .bouton{
        border-radius: 16px;
    }

    .boutonTexte{
        display: none;
    }

    .bouton i{
        display: unset;
    }

    .rechercheFiltresTitre{
        width: 100%;
    }

    .hebergements{
        flex-flow: column-reverse;
    }

    .hebergementsPartiePrincipale{
        height: unset;
        background-color: unset;
    }

    .hebergementsPartiePrincipaleCarte{
        width: 100%;
        background-color: #fff;
        height: 240px;
        min-height: 190px;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
        margin : 5% auto;;
    }

    .hebergementsPartiePopulaire{
        height: unset;
        border-radius: unset;
    }

    .hebergementsPartiePopulaireCarte{
       height: 170px; 
       margin: 5% auto; 
    }

    .activitesCartesContainer{
        flex-direction: column;
        justify-content: unset;
    }

    .activitesCartesContainerSousPartie{
        width: 100%;
    }
    
    .footer{
        height: unset;
        flex-direction: column;
    }

    .footer_sous_partie{
       flex-direction: column;
    }

    .footerSousPartieListe {
        width: 100%;
        padding: 10px 22px;
    }
}